services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root1234
      MYSQL_DATABASE: ticketing
      MYSQL_USER: app
      MYSQL_PASSWORD: app1234
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    # optional: 초기 접속 안정화에 도움
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-proot1234"]
      interval: 5s
      timeout: 3s
      retries: 30

  mysql-exporter:
    image: prom/mysqld-exporter
    container_name: mysql-exporter
    volumes:
      - ./mysql-exporter/.my.cnf:/etc/.my.cnf:ro
    command:
      - "--config.my-cnf=/etc/.my.cnf"
    ports:
      - "9104:9104"
    depends_on:
      mysql:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-remote-write-receiver"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana

  k6:
    image: grafana/k6:latest
    volumes:
      - ./k6:/scripts:ro
    entrypoint: ["k6"]
    environment:
      K6_PROMETHEUS_RW_SERVER_URL: http://prometheus:9090/api/v1/write
      K6_PROMETHEUS_RW_TREND_STATS: p(50),p(90),p(95),p(99),avg,min,max

volumes:
  mysql-data:
  grafana-data:
